<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div *ngFor = 'let quote of quotes; let i =index'>
                
                    <!-- <div class="card-body">
                        <p class="card-title">{{quote.quote}}</p>
                    </div> -->
                    <blockquote class="blockquote">
                        <p class="mb-1">"{{quote.quote}}"</p>
                        <footer class="blockquote-footer">Author: <cite title="Source Title">{{quote.author}}</cite></footer>
                        <!-- <app-up-vote></app-up-vote> -->
                    </blockquote>

                    <button class="btn btn-info" (click) = 'toggleDetails(i)'>More</button>                        
                                <app-quotes-details *ngIf = 'quote.showMore' [quote] = 'quote' (isRead) = 'quoteDelete($event,i)'></app-quotes-details>
                

            </div>
        
        </div>
    </div>
</body>
</html>
