<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <ul>
                    <div *ngFor = 'let quote of quotes; let i =index'>
                    
                        
                        <blockquote class="blockquote">
                            <p appHighlight class="mb-1">"{{quote.quote}}"</p>
                            <footer class="blockquote-footer">Author: <cite title="Source Title">{{quote.author}}</cite></footer>
                            <p class="text-muted"> Quote was posted {{quote.dateCreated|dateCount}} ago.</p>
                            <app-vote></app-vote> 
                        </blockquote>

                        <button class="btn btn-info" (click) = 'toggleDetails(i)'>More</button>                        
                                    <app-quotes-details *ngIf = 'quote.showMore' [quote] = 'quote' (isRead) = 'quoteDelete($event,i)'></app-quotes-details>
                    

                    </div>
                </ul>
            </div>
        
        </div>
        <br><br>
        <hr><hr>
        <div class="row">
            <div class="col-md-12 form">
                <app-input-form (addQuote) ="addNewQuote($event)"></app-input-form>
            </div>
        </div>
    </div>
</body>
</html>
