<div class="container">
    <h2>Submit a quote!</h2>
    <br>
    <form (ngSubmit)='submitQuote()' #quoteFrom = 'ngForm'>
        <div class="form-group">
            <label for="author">Author</label>
            <input type="text " class="form-control" id="author" [(ngModel)] = "quote.author" name="author" #author="ngModel">
            <div class="alert alert-danger" [hidden]="submission.valid|| submission.pristine">
                <p>Please Enter the name of the author</p>
            </div>
        </div>

        <div class="form-group">
            <label for="submission">Submitted By</label>
            <input type="text " class="form-control" id="submission" [(ngModel)] = "quote.submittedBy" name="submission" #submission="ngModel">
            <div class="alert alert-danger" [hidden]="author.valid|| author.pristine">
                <p>Please Enter your name</p>
            </div>
        </div>

        <div class="form-group">

            <label for="quote">Quote</label>
            <textarea class="form-control" id="quote" rows="4" [(ngModel)] = "quote.quote" name="quote" #quote = 'ngModel' required></textarea>
            <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
                <p>Submit your quote!</p>
              </div>          
  
        </div>
        <button type="submit" class="btn btn-success">Submit Quote</button>

    </form>
</div>
